* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#flip {
  width: 400px;
  height: 550px;
  perspective: 1100px;
}

#card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 3s;
  /* 자식 요소를 3d 공간에 배치하거나 2d 평면에 배치할 지 정하는 요소 (부모 요소에 지정) / 기본값 'flat'  */
  transform-style: preserve-3d;
}

#front,
#back {
  position: absolute;
  width: 100%;
  height: 100%;
  /* 요소의 뒷쪽에서 앞쪽이 보이게 하는 요소  */
  backface-visibility: hidden;
}

#front {
  background-color: lightpink;
}

#back {
  background-color: lightcyan;
  /* 미리 뒤집기 */
  transform: rotateY(180deg);
}

#flip:hover #card {
  transform: rotateY(180deg);
}
